<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add 
    name="DbConnection" 
    connectionString="Data Source=DESKTOP-RPLFRUH\SQLEXPRESS;Initial Catalog=WebSearchDataBase;Integrated Security=True"
    providerName="System.Data.SqlClient"
  />
</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="dataStoreType" value="File" />
    <add key="FilePath" value="C:\\Users\\omerc\\Documents\\Visual Studio 2015\\Projects\\WebSearchProject\\SearchTests\\Data" />
  </appSettings>
</configuration>